block content
  
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="info")
      | Opis
    br  
    textarea(id="info" name="info" cols="30" rows="4")
    br
    input(type="submit", value="Dodaj")
  table(style={border: '1px solid black'})
    tr(style={border: '1px solid black'})
      th(scope= "col") ID
      th(scope= "col") Tytuł
      th(scope= "col") Opis
      th(scope= "col") Status
      th(scope= "col") Akcje
      th(scope= "col") Usun  
    each task in tasks
      tr
        td= task.id
        td= task.title
        td= (task.info == null ? "Brak opisu" : task.info)
        td= (task.status == 'completed' ? 'Zakończone' : 'Otwarte')
        td
         button(type="button" onclick=`updateTaskStatus('${task.id}', 'completed')`) ✓
        td
         button(type="button" onclick=`deleteTask('${task.id}')`) X
block scripts
  script(src="javascripts/index.js")
